<h1>Top Managers Income: <%= @top_management_income %>$</h1>
<h1>Poor parrots count: <%= @poor_parrots_count %></h1>
<h1>The most expensive task by <%= params[:period] || 'day' %>: <%= @most_expensive_task %></h1>
